In [3]:
# String manipulation
# check syntax below, any problems?
text = "She said, "What time is it?""

SyntaxError: invalid syntax (2078172122.py, line 3)

In [6]:
# modify it:
text = "She said, 'What time is it?'"
print(text)

She said, 'What time is it?'

In [7]:
len("abc")

3

In [11]:
len("abc  ")

5

In [12]:
len("abc@#$")

6

In [ ]:
# a Hash to start your note
# when need to type multiple lines of note, use docstrings:
"""Assignment: String Manipulation:
In this assignment, you will write a Python program to manipulate strings. 
You will practice using various string operations and if statements to solve the given problems."""

In [8]:
print(r"This is a raw string with a backslash: \
      You can use backslash with an r in the beginning\
      when you have multiple lines to print.")

This is a raw string with a backslash: \
      You can use backslash with an r in the beginning\
      when you have multiple lines to print.

In [17]:
"This is a raw string with a backslash: \
      You can use backslash with an r in the beginning\
      when you have multiple lines to print."

'\\This is a raw string with a backslash:       \\You can use backslash with an r in the beginning      \\when you have multiple lines to print.'

In [24]:
normal_string = "This is a backslash: \\" #\ is treated as the beginning of an escape sequence
normal_string2 = "This is a backslash: \\"
raw_string = r"This is a backslash: \ "

print(normal_string)
print(normal_string2)
print(raw_string)

This is a backslash: \
\This is a backslash: \
This is a backslash: \

In [35]:
# escape sequence
# \n: line break, to start a new line:
print("Hello\nWorld")

Hello
World

In [36]:
# escape sequence
# \t: to add a tab:
print("Hello\tWorld")

Hello	World

In [37]:
print("C:\\Users\\Jing")

C:\Users\Jing

In [44]:
# Using double backslash for file paths
path = "C:\\Users\\Jing\\Documents"
print(path)

# Using raw string for the same purpose
path_raw = r"C:\Users\Jing\Documents"
print(path_raw)

C:\Users\Jing\Documents
C:\Users\Jing\Documents

In [ ]:
""" to make it simple: so in normal string, you have to use double \ to have a single \ printed, 
but in raw string, you can just use single backslash because this will be a raw string """
""" this is useful especially if you are using windows system, and when you want to import dataset into python """
""" check the extra activities in the end"""

In [3]:
# concatenate indexing and slicing
str1 = "abc"
str2 = "def"
strcom = str1 +str2
print(strcom)

abcdef

In [4]:
# add a space
str1 = "abc"
str2 = "def"
strcom = str1 +" " +str2
print(strcom)

abc def

In [7]:
str1[0]

'a'

In [6]:
str1[-1] # -1 is to count from the end

'c'

In [10]:
# out of range
str1[-4]

IndexError: string index out of range

In [21]:
# if you don't know the length of the string
str3 = "123456789"
length_str = len(str3) -1 # subtract 1 because python starts from 0
last_letter = str3[length_str]
print(last_letter)

9

In [25]:
user_input = input("Enter a word: ")
length_str = len(user_input) -1 
last_letter = user_input[length_str]
print(last_letter)

d

In [24]:
user_input = input("Enter a word: ")
print(user_input[-1])

d

In [26]:
str3[0:2] # it will give you from 0 to 1, it won't include the No.2

'12'

In [ ]:
str3[0:1]

In [29]:
str3[:3] # show first 3 letters

'123'

In [30]:
str3[3:] # shows letters starting from No.3 place

'456789'

In [31]:
str3[:] # display everything

'123456789'

In [40]:
str3[:20] # display everything

'123456789'

In [39]:
str3[19:20] # display nothing, because there is nothing

''

In [41]:
str3[20:]# display nothing, because there is nothing

''

In [42]:
str3[-9:-7]

'12'

In [46]:
str3[-9:0] # displays nothing, because str3[0] only counts from the beginning

''

In [47]:
str3[0]

'1'

In [134]:
str3 = "123456789"
print(str3)
print(str3[::-1]) # string[start:stop:step]
print(str3[4:1:-1]) # why?

123456789
987654321
543

In [140]:
print(str3[4:1:-1])
print(str3[4])
print(str3[3])
print(str3[2])
print(str3[1:4:1])

543
5
4
3
234

In [48]:
# Strings Are Immutable
str3[0] = "4"

TypeError: 'str' object does not support item assignment

In [49]:
# review: to modify a list
list1 = ['1', '2', '3']
print(list1)
list1[0] = 'a'
print(list1)

['1', '2', '3']
['a', '2', '3']

In [52]:
# if I realy want to modify a string:
print(str3)
str4 = str3.replace('1', 'a')
print(str4)

123456789
a23456789

In [125]:
str5 = "to find a string"
print("find a:",str5.find("t"))
print("find string:",str5.find("string"))
print("cannot find string: ", str5.find("s tring") )
print("cannot find string: ", str5.find("St") )

find a: 0
find string: 10
cannot find string:  -1
cannot find string:  -1
find n: 14

In [128]:
"I put a string in your string".find("string") # find from the beginning and stop here

8

In [155]:
"My number is 555-555-5555".find("5") # only find string not number

13

In [156]:
TEXT = "ABCD"
TEXT.lower()  # it cannot modify the TEXT, but only display lowercase version
print(TEXT)
text = TEXT.lower() # to save it as a new variable

ABCD

In [157]:
text.upper()

'ABCD'

In [154]:
print("abc".upper().find("A")) # because "abc".upper() gives you ABC
print("abc".upper().replace("A","1"))

0
1BC

In [145]:
# for loop to find a letter
signal = "p"
sentence = "apple"
count = 0

for char in sentence:
    if char in signal:
        count += 1 # count = count+1

print(f"Number of letters: {count}")

Number of letters: 2

In [148]:
count = 0
count = count+1
print(count)
count = count+1
print(count)

1
2

In [65]:
# .rstrip()  .lstrip()  .strip()
text = "    abc    "
text.rstrip() # removes whitespace from the right side

'    abc'

In [68]:
text = "    abc    "
text.lstrip() # removes whitespace from the left side

'abc    '

In [67]:
text = "    abc    "
text.strip() ## removes whitespace from both sides

'abc'

In [76]:
# .startswith() and .endswith()
str6 = "start"
str6.startswith("st") # case sensitive

True

In [80]:
str6.upper().startswith("S")

True

In [79]:
str6 = "start"
up_str6 = str6.upper()
up_str6.startswith("S")

True

In [86]:
user_input = input("How are you?").upper()
print("Your answer: ", user_input)

Your answer:  GOOD

In [ ]:
# review
a = "123"
a*3

In [88]:
a = "123"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [89]:
a = "123"
b = 3
int(a)+b

126

In [90]:
a = "123"
b = 3
a+str(b)

'1233'

In [91]:
user_input = input("enter a number: ")
user_input *3

'222'

In [94]:
# float() or int() ? float allows more flexibility
user_input = input("enter a number: ")
print(int(user_input) *3) # float or int ?
print(float(user_input) *3)

6
6.0

In [96]:
# review of print()
a = 10
#"I am going to eat " + a + " pancakes."
"I am going to eat " + str(a) + " pancakes."

'I am going to eat 10 pancakes.'

In [115]:
# identify each element in print()
name = "Zaphod"
heads = 2
arms = 3
print(name, "has", str(heads), "heads and", str(arms), "arms")

Zaphod has 2 heads and 3 arms