In [2]:
# tuple
tpl1 = (1,2,3)
tpl1[0]

1

In [49]:
tlp1=tuple("Python") # string is iterable

In [50]:
tlp1[1]

'y'

In [32]:
"Python"[0] # string is iterable

'P'

In [47]:
tuple(1,2) # tuple() built in can only have 1 element in ()

TypeError: tuple expected at most 1 argument, got 2

In [48]:
tuple("Python", 1)

TypeError: tuple expected at most 1 argument, got 2

In [7]:
tuple("1,2")

('1', ',', '2')

In [3]:
tuple(1) # a number doesn't work either because number is not iterable

TypeError: 'int' object is not iterable

In [5]:
tuple([1]) # [1] is a list, which is iterable.

(1,)

In [7]:
tuple([1,2,"Python"]) # list is iterable

(1, 2, 'Python')

In [12]:
tuple("1") # output is ('1',) to show this is a tuple with a single element rather than a string '1'

('1',)

In [15]:
# to create empty tuple
a = tuple()
print(a)

()

In [24]:
# tuple vs string
tpl2 = (1,2,3) # use comma to seperate elements
print(len(tpl2))
print("tuple2 element 0 to 1: ",tpl2[0:2])

3
tuple2 element 0 to 1:  (1, 2)

In [26]:
string1 = "123" # no comma
print(len(string1))
print("string1 element 0 to 1: ",string1[0:2]) # no comma in the output

3
string1 element 0 to 1:  12

In [51]:
# tuple is immutable
tpl2[0] = 2

NameError: name 'tpl2' is not defined

In [70]:
# tuple is immutable, but it is iterable
tpl3 = tuple("PYTHON")
for ele in tpl3:
    tpl4=(ele.lower())
print(tpl4)

n

In [73]:
tpl3 = tuple("PYTHON")
list0 = list(tpl3)
tpl4 = list0[0].lower()
print(tpl4)

p

In [72]:
tpl3 = tuple("PYTHON")       
list0 = list(tpl3)
tpl4 =  list0[0].lower() 
print(tpl4)

p

In [74]:
# packing
coordinates = 1.23, 3.56 # another way to create tuple
type(coordinates)

tuple

In [39]:
#  unpaking tuple
x, y = coordinates
print(x)
print(y)

1.23
3.56

In [76]:
# packing and unpacking
x, y, location = -80.448713, 28.3735, "Epcot, Disney"
print(x)
print(y)
print(location)

-80.448713
28.3735
Epcot, Disney

In [11]:
x, y, location,"extra" = -80.448713, 28.3735, "Epcot, Disney"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1118307972.py, line 1)

In [75]:
#(x, y, location,"extra") == (-80.448713, 28.3735, "Epcot, Disney")
(x, y, location) == (-80.448713, 28.3735, "Epcot, Disney")

True

In [82]:
tpl4 = 1, # delete comma, it becomes int
type(tpl4)

tuple

In [84]:
tpl3 = tuple("PYTHON")
"P" in tpl3

True

In [87]:
# use tuple to store results from your fuction
def variance(x, y):
    x_mean = 2
    y_mean = 4
    #return ("var_x:", x - x_mean, "var_y:", y - y_mean)
    #return "var_x:", x - x_mean, "var_y:", y - y_mean
    return ["var_x:", x - x_mean, "var_y:", y - y_mean]

vars = variance(10, -5)
print(type(vars))
print(vars)

<class 'list'>
['var_x:', 8, 'var_y:', -9]

In [56]:
# LIST
lst1 = [1,2,3]
lst1

[1, 2, 3]

In [61]:
lst2 = ["NO2","CO2","CH4"]
for i in lst2:
    print("pollutant:", i)

pollutant: NO2
pollutant: CO2
pollutant: CH4

In [64]:
# built in list()
list("123")

['1', '2', '3']

In [31]:
list(1,2)

TypeError: list expected at most 1 argument, got 2

In [88]:
# change tuple to list
tpl1 = (1,2,3)
print("tpl1:", type(tpl1))
lst3 = list(tpl1)
print("lst3:",type(lst3))
print(lst3)

tpl1: <class 'tuple'>
lst3: <class 'list'>
[1, 2, 3]

In [96]:
# string's function: .split()

groceries = "eggs, milk, cheese, "
print(type(groceries))
grocery_list = groceries.split(",") 
print(grocery_list)
print(type(grocery_list))

<class 'str'>
['eggs', ' milk', ' cheese', ' ']
<class 'list'>

In [95]:
"a b c d ".split(" ") # the last element is empty string

['a', 'b', 'c', 'd', '']

In [79]:
"a b c d ".split("c")

['a b ', ' d ']

In [80]:
"a b c d ".split("f")

['a b c d ']

In [97]:
lst2 = ["NO2","CO2","CH4"]
print(lst2[1])
lst2[1] = "SO2"
print(lst2)

CO2
['NO2', 'SO2', 'CH4']

In [98]:
"CO2" in lst2

False

In [85]:
for i in [1,2,3,4,5]:
    if i % 2 == 0:
        print(i, " is even")

2  is even
4  is even

In [36]:
# mutable list
nums = [0,1,2,3,4,5,6]
nums[1] = [1,2] # created nested list
print(nums)

[0, [1, 2], 2, 3, 4, 5, 6]

In [107]:
nums = [0,1,2,3,4,5,6]
print(nums[1:2])
nums[1:2] = [1,2] #[1:2] = 1, so this will add an extra 2
print(nums)
nums[1:5] = [1,2] # change 1, 2, 2, 3 to 1,2
print(nums)

[1]
[0, 1, 2, 2, 3, 4, 5, 6]
[0, 1, 2, 4, 5, 6]

In [110]:
# insert()
nums = [0,1,2,3,4,5,6]
nums.insert(0, 4) # before position -1, insert 4
print(nums)

[4, 0, 1, 2, 3, 4, 5, 6]

In [111]:
nums.insert(1,5)
print(nums)

[4, 5, 0, 1, 2, 3, 4, 5, 6]

In [101]:
nums = nums.insert(1,5) # it will remove values in nums
print(nums)

None

In [113]:
nums = [1,2,3,4,5,6]
nums2 = nums.pop(3) # to remove and return an element from a list at a specified index
print(nums2)
print(nums) # it will remove 3 in nums

4
[1, 2, 3, 5, 6]

In [114]:
nums.pop() # by default, remove the last one
print(nums)

[1, 2, 3, 5]

In [117]:
nums.insert(20, 5)
print(nums)

[1, 2, 3, 5, 5, 5, 5]

In [106]:
nums.pop(20) # 20 > length

IndexError: pop index out of range

In [118]:
# appent()
nums = [0,1,2,3,4,5,6]
nums.append(7)
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7]

In [119]:
nums = [0,1,2,3,4,5,6]
nums.append(8)
nums3=nums
print(nums)
print(nums3)

[0, 1, 2, 3, 4, 5, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 8]

In [123]:
#nums3.append(8)
print(nums)# linked nums and nums3
print(nums3)

[0, 1, 2, 3, 4, 5, 6, 8, 8, 8]
[0, 1, 2, 3, 4, 5, 6, 8, 8, 8]

In [124]:
# .extend()
nums3 = nums.extend([9,10,11]) # add multiple elements to the end
print(nums)
print(nums3)

[0, 1, 2, 3, 4, 5, 6, 8, 8, 8, 9, 10, 11]
None

In [125]:
# to sum up using list
nums = [0,1,2,3,4,5,6]
sum(nums)

21

In [131]:
nums = [0,1,2,3,4,5,6]
sum_list=0
for i in nums:
    sum_list += nums[i]
    print(sum_list)

print("sum=", sum_list)

0
1
3
6
10
15
21
sum= 21

In [134]:
print(min([1,2,3]))
print(min((1,2,3)))
print(min(1,2,3)) # used with multiple arguments
print(max([1,2,3]))
print(max((1,2,3)))
print(max(1,2,3)) # used with multiple arguments
print(sum([1,2,3]))
print(sum((1,2,3)))
#print(sum(1,2,3)) # wrong, sum only takes 1 argument
print(sum(range(1,4)))

1
1
1
3
3
3
6
6
6

In [136]:
#nums = [0,1,2,3,4,5,6]  # can also use tuple
nums = (0,1,2,3,4,5,6)
squares = [num**2 for num in nums]
print(squares)

[0, 1, 4, 9, 16, 25, 36]

In [175]:
squares = []
nums = (0,1,2,3,4,5,6)
for i in range(7):
    squares.append(nums[i]**2)
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]

In [181]:
nums_str = ("1","2","3.6")
float_nums = [float(num) for num in nums_str ]
print(float_nums)
int_nums = [int(num) for num in float_nums]
print(int_nums)

[1.0, 2.0, 3.6]
[1, 2, 3]

In [168]:
nums = [0,1,2,3,4,5,6]
nums4 = [7,8,9]
print(nums*2)
print(nums + nums4) # only * and + can be used to calculate list

[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
# nested structure
data_points = [(1, 4), 
               (2, 5),
               (3, 6)]
#print(data_points[0])
print(data_points[0][1])
print(data_points[1][1])

4
5

In [184]:
data_points = [(1, 4, 7), 
               (2, 5, 8),
               (3, 6, 9)]
#print(data_points[0])
print(data_points[0][2])
print(data_points[1][1])

7
5

In [195]:
data_points = [(1, 4, 7), 
               (2, 5, 8),
               (3, 6, 9),
               ([10,11], 12)]
#print(data_points[0])
print(data_points[0][2])
print(data_points[1][1])
print(data_points[3][0][0])
print(data_points[3][0])
print(data_points[3][0][1])

7
5
10
[10, 11]
11

In [203]:
# sort list
colors = ["red","purple", "yellow", "green", "blue"]
colors.sort() # it will change the sore of colors
colors

['blue', 'green', 'purple', 'red', 'yellow']

In [202]:
colors = ["red","purple", "yellow", "green", "blue"]
colors.sort(key=len)
colors

['red', 'blue', 'green', 'purple', 'yellow']

In [206]:
print(ord("p"))
print(ord("y"))

112
121

In [225]:
lst4 = [(10,2),(4,5)]
lst4.sort()
print(lst4)

[(4, 5), (10, 2)]

In [139]:
def get_second_element(item):
    return item[1] 
items = [(4, 1), (1, 2), (-9, 0)] # here, item[1] = 1 from (4,1)...
items.sort(key=get_second_element) # .sort(key=...) is to sort by ...
print(items)

"""key: for each element (tuple) in the list, apply the get_second_element function to extract the second element, 
and use that extracted value for sorting."""

[(-9, 0), (4, 1), (1, 2)]

'key: for each element (tuple) in the list, apply the get_second_element function to extract the second element, \nand use that extracted value for sorting.'

In [5]:
# example from textbook page 260
def extract_ele(value):
    enroll = []
    tuition = []
    for i in value:
        enroll.append(i[1])
        tuition.append(i[2])
    return enroll, tuition

universities = [
    ['California Institute of Technology', 2175, 37704], 
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732], 
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
    ]

extract_ele(universities)

([2175, 19627, 10566, 7802, 5879, 19535, 11701],
 [37704, 39849, 40732, 37000, 35551, 40569, 40500])

In [38]:
# step2: check whether cal_means() works
def cal_means(value):
    sum_value = sum(value)
    mean_value = sum_value/len(value)
    value.sort()
    if len(value)%2 == 0:
        median = (value[len(value)/2] + value[(len(value)/2)+1])/2
    else:
        median = value[(len(value)//2)]
    return mean_value, median, sum_value

print(cal_means([2175, 19627, 10566, 7802, 5879, 19535, 11701]))
print(cal_means([37704, 39849, 40732, 37000, 35551, 40569, 40500]))

(11040.714285714286, 10566, 77285)
(38843.57142857143, 39849, 271905)

In [141]:
# step 3: check extract_ele() can extract elements
def extract_ele(value1):
    enroll = []
    tuition = []
    for i in value1:
        enroll.append(i[1])
        tuition.append(i[2])
    

    def cal_means(value2):
        mean_value = round(sum(value2)/len(value2),2)
        value2.sort()
        if len(value2)%2 == 0:
            median = (value2[len(value2)/2] + value2[(len(value2)/2)+1])/2
        else:
            median = value2[(len(value2)//2)]
        return mean_value, median
    enroll_mean, enroll_median = cal_means(enroll)
    tuition_mean, tuition_median = cal_means(tuition)
    return sum(enroll), sum(tuition), enroll_mean, enroll_median, tuition_mean, tuition_median
    #print("sum of enrolment: ", sum(enroll))
    #print("sum of tuition: ", sum(tuition))
    #print("Student mean: ", enroll_mean)

universities = [
    ['California Institute of Technology', 2175, 37704], 
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732], 
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
    ]

extract_ele(universities)

(77285, 271905, 11040.71, 10566, 38843.57, 39849)

In [15]:
7//2

3

In [144]:
import random

print(random.choice(["a", "b","c"]))
print(random.choice(range(4)))

b
1

In [145]:
# dictionary
z_scores = {90: 1.645, 95: 1.96, 99: 2.576}
print(z_scores[90])
print(z_scores.get(90))

print(z_scores.get(85)) # won't get warnings
print(z_scores[85]) # will get warning

1.645
1.645
None

KeyError: 85

In [146]:
# modify a dictionary
z_scores = {95: 2, 99: 2.576}
z_scores[95] = 1.96
print(z_scores)

z_scores[90] = 1.645
print(z_scores)

del z_scores[90]
print(z_scores)

{95: 1.96, 99: 2.576}
{95: 1.96, 99: 2.576, 90: 1.645}
{95: 1.96, 99: 2.576}

In [52]:
90 in z_scores

False

In [147]:
for i in z_scores:
    print(i) # print keys

95
99

In [57]:
for i in z_scores:
    print(f"z-score of {i}% CI is {z_scores[i]}")

z-score of 95% CI is 1.96
z-score of 99% CI is 2.576

In [60]:
print(z_scores.items())
print(type(z_scores.items()))
print(z_scores) # doesn't change the dictionary itself

dict_items([(95, 1.96), (99, 2.576)])
<class 'dict_items'>
{95: 1.96, 99: 2.576}

In [150]:
# unpack dictionary like tuple
X1, X2 = z_scores.items()
print(X1)
print(X2)
print(type(X1))
print(type(X2))

(95, 1.96)
(99, 2.576)
<class 'tuple'>
<class 'tuple'>

In [151]:
keys = ()
values = ()
for keys, values in z_scores.items():
    print(f"z-score of {keys}% CI is {values}")

z-score of 95% CI is 1.96
z-score of 99% CI is 2.576

In [152]:
z_scores = {95: 1.96, 99: 2.576}
z_scores[[1]] #wrong, list is unhashable, a single string, a single number are hashable because they are unique
#z_scores[1] #wrong

TypeError: unhashable type: 'list'

In [153]:
z_scores[95] # 95 is hashable, so it canbe used to call out values in dictionary

1.96

In [46]:
# nested dictionary
students = {
    "Alice": {
        "major": "Biology",
        "grades": {
            "Math": 88,
            "Biology": 92,
            "Chemistry": 85
        }
    },
    "Bob": {
        "major": "Computer Science",
        "grades": {
            "Math": 95,
            "Programming": 90,
            "Algorithms": 93
        }
    },
    "Charlie": {
        "major": "Mathematics",
        "grades": {
            "Calculus": 91,
            "Statistics": 87,
            "Linear Algebra": 89
        }
    }
}
print(students["Alice"])
print(students["Alice"]["major"])  
print(students["Bob"]["grades"]["Math"])

{'major': 'Biology', 'grades': {'Math': 88, 'Biology': 92, 'Chemistry': 85}}
Biology
95