In [2]:
# database
import sqlite3

In [3]:
connection = sqlite3.connect("test_database.db") # to connect to an existing database or create a new one

In [ ]:
connection = sqlite3.connect(":memory:")  # to create a temporary database

In [3]:
type(connection)

sqlite3.Connection

In [29]:
cursor = connection.cursor() # cursor object for store and retrieve data
type(cursor)

sqlite3.Cursor

In [30]:
query = "SELECT datetime('now', 'localtime');" # SELECT is a command in SQL, but the word doesn't have to be upper case
cursor.execute(query)

In [26]:
print(cursor.fetchone()) # this is a tuple, but it consume the output from .execute(query), so you need to rerun .execute(query) next time

None

In [33]:
cur_time = cursor.execute(query).fetchone()[0] # unpack tuple to string
print(cur_time)
print(type(cur_time))

2024-11-20 16:58:58
<class 'str'>

In [42]:
# another way:
# rerun .execute(query):
cursor = cursor.execute(query)

cur_time2 = cursor.fetchone()
print(cur_time2[0]) #this is a string
print(type(cur_time2[0])) 
print("but without [0]:",type(cur_time2))

2024-11-20 17:28:10
<class 'str'>
but without [0]: <class 'tuple'>

In [39]:
connection.close() # to close the databse connection

In [11]:
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    query = "SELECT datetime('now', 'localtime');"
    time = cursor.execute(query).fetchone()[0]

In [44]:
print(time)

2024-11-20 17:28:21

In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect("test_database.db") 
cursor = connection.cursor()
cursor.execute(
    """CREATE TABLE People(
           FirstName TEXT,
           LastName TEXT,
Age INT );"""
) # to create a table - people in test_database.bd, 3 columns: FirstName, which is string, LastName, which is string, Age, which is number
cursor.execute(
    "INSERT INTO People VALUES('Ron','Obvious',42 );"
) # Insert a new row into the 'People' table
connection.commit() # save the dataset to database
connection.close()

OperationalError: table People already exists

In [10]:
connection = sqlite3.connect("test_database.db")  # Re-open the database
cursor = connection.cursor()  # Create a new cursor
cursor.execute("SELECT * FROM People")
rows = cursor.fetchall()  # Fetch all rows
print(rows)  # Print the rows to see the data inserted

[('Ron', 'Obvious', 42)]

In [1]:
import sqlite3
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.execute("DROP TABLE IF EXISTS People;")
    cursor.execute("""CREATE TABLE People(FirstName TEXT, 
                   LastName TEXT, 
                   age INT);"""
                   )
    cursor.execute("INSERT INTO People VALUES('Ron','Obvious',42 );")

# note: .execute() can only execute only 1 command
# drop table if exists will remove information in previous table

In [3]:
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM People")
    rows = cursor.fetchall()  # Fetch all rows
    print(rows)

[('Ron', 'Obvious', 42)]

In [4]:
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.executescript(
        """DROP TABLE IF EXISTS People;
        CREATE TABLE People(FirstName TEXT, LastName TEXT, age INT);
        INSERT INTO People VALUES('Ron','Obvious',42 );
        """)
    cursor.execute("SELECT * FROM People")
    rows = cursor.fetchall()  # Fetch all rows
    print(rows)
# executescript() executes multiple SQL statements in sequence, but it does not return any results for SELECT statements.
# have to execute select and then print out the overall result

[('Ron', 'Obvious', 42)]

In [6]:
people_values = (
("Ron", "Obvious", 42), ("Luigi", "Vercotti", 43), ("Arthur", "Belling", 28)
)
cursor.executemany("INSERT INTO People VALUES(?, ?, ?)", people_values)
connection.commit()
connection.close() # remember to close connection everytime if not using with...as, to release any locks on the database. 

# executemany() can append data to the end, similar function to INSERT INTO People VALUES();

In [7]:
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM People")
    rows = cursor.fetchall()  # Fetch all rows
    print(rows)

[('Ron', 'Obvious', 42), ('Luigi', 'Vercotti', 43), ('Arthur', 'Belling', 28), ('Ron', 'Obvious', 42), ('Luigi', 'Vercotti', 43), ('Arthur', 'Belling', 28), ('Ron', 'Obvious', 42), ('Luigi', 'Vercotti', 43), ('Arthur', 'Belling', 28)]

In [3]:
import sqlite3

# Sample data to insert
people_values = (
    ("Ron", "Obvious", 42),
    ("Luigi", "Vercotti", 43),
    ("Arthur", "Belling", 28)
)

# Connect to the database
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    
    # Drop the table if it exists and create a new one
    cursor.executescript("""
        DROP TABLE IF EXISTS People; 
        CREATE TABLE People(
            FirstName TEXT,
            LastName TEXT,
            Age INT
        );
    """)
    
    # Insert multiple rows using executemany
    cursor.executemany("INSERT INTO People VALUES(?, ?, ?)", people_values)
    
    # Fetch and print all rows to confirm
    cursor.execute("SELECT * FROM People")
    rows = cursor.fetchall()
    print(rows)  # Output will show all inserted rows

[('Ron', 'Obvious', 42), ('Luigi', 'Vercotti', 43), ('Arthur', 'Belling', 28)]

In [ ]:
"""takeaways
1. import sqlite3 to use the module
2. sqlite3.connect('database_name.db') to connect to / create a database
3. save dataset with connection.commit()
4. close the database connection using connection.close()
5. cursor.execute() or cursor.executescript() to execute SQL commands
6. INSERT INTO ... VALUES() to insert a single row
7. executemany() is used for batch inserting multiple rows
8. cursor.execute() and fetchall() or fetchone() to fetch all rows or a single row
9. with sqlite3.connect(...) as connection can handle dataset in SQL more efficiently
"""

In [ ]:
"""homework code 12:
overall satisfaction scores = sum up all the 5 categories"""